@model IEnumerable<HRMIS_PERSONEL_PROFILE.Models.ACCOMMODATION>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfStructure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarracksName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfStructure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarracksName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecorded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccomodationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccomodationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccomodationID })
        </td>
    </tr>
}

</table>
