@model IEnumerable<HRMIS_PERSONEL_PROFILE.Models.AWARDS_AND_COMMENDATIONS>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NatureOfAward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardingInstitution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonForAward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NatureOfAward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwardingInstitution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonForAward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecorded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AwardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AwardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AwardID })
        </td>
    </tr>
}

</table>
