@model IEnumerable<HRMIS_PERSONEL_PROFILE.Models.FAMILY_INFORMATION>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpouseDateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildDateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpouseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpouseDateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildDateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecorded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FamilyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FamilyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FamilyID })
        </td>
    </tr>
}

</table>
