@model HRMIS_PERSONEL_PROFILE.Models.PERSONAL_INFORMATION

@{
    ViewBag.Title = "Home";


}

@if (TempData["NINERROR"] != null)
{
    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["NINERROR"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>

}
else if (TempData["FILENOERROR"] != null)
{
    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["FILENOERROR"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}
else if (TempData["EMAILERROR"] != null)
{
    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["EMAILERROR"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}

else if (TempData["mailerror"] != null)
{

    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["mailerror"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}
else if (TempData["empid_email"] != null)
{

    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["empid_email"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}
else if (TempData["usererror"] != null)
{

    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["usererror"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}
else if (TempData["idmissmatch"] != null)
{
    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["idmissmatch"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}
else if (TempData["errorid"] != null)
{
    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["errorid"]",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}

@if (TempData["FILENOERROR"] != null)
{
    <script>
     swal({
         title: "ERROR!",
         text: "@TempData["FILENOERROR"]  Please Verify Your Email Address And Try Again.",
         icon: "error",
         button: "Dismiss",
     });

    </script>
}
else
{
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.101.0">


        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/heroes/">

        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
       
        <!-- Custom styles for this template -->
        <link href="heroes.css" rel="stylesheet">
    </head>
    <body>
        <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
            <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
                <div class="uil-default-css">
                    <div class="loader">Loading...</div>
                </div>
                <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
            </div>
            <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
        </div>
        <main>


            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        <img src="~/App_Start/pol.png" class="img-fluid" style="width:30%" />

                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            <div class="p-4 p-md-5 border rounded-3 bg-light">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-floating mb-3">
                                    @Html.LabelFor(model => model.FileNo, htmlAttributes: new { @class = "" })  / @Html.LabelFor(model => model.ForceNo, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.FileNo, new { htmlAttributes = new { @class = "form-control", id = "floatingInput" } })
                                    @Html.ValidationMessageFor(model => model.FileNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating mb-3">
                                    @Html.LabelFor(model => model.NIN, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.NIN, new { htmlAttributes = new { @class = "form-control", id = "floatingInput" } })
                                    @Html.ValidationMessageFor(model => model.NIN, "", new { @class = "text-danger" })


                                </div>
                                <input type="submit" value="FIND" class="btn btn-primary w-100" />


                            </div>
                        }



                    </div>
                </div>
            </div>



        </main>


        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }



    </body>
</html>
}


