@model IEnumerable<HRMIS_PERSONEL_PROFILE.Models.HOME_ADDRESS>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subcounty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixedTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Village)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcounty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixedTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecorded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeAddressID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeAddressID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeAddressID })
        </td>
    </tr>
}

</table>
