@model HRMIS_PERSONEL_PROFILE.Models.PERSONAL_INFORMATION

@{
    ViewBag.Title = "Verification";
}

@if (Session["userid"] != null || Session["userid1"] != null)
{
    if (TempData["error"] != null)
    {

        <script>
     swal({
         title: "error!",
         text: "@TempData["error"]",
         icon: "error",
         button: "Dismiss",
     });

        </script>

    }

    if (TempData["verificationlink"] != null)
    {

        <script>
     swal({
         title: "please check your mail for security code",
         text: "@TempData["success"]",
         icon: "success",
         button: "Dismiss",
     });

        </script>

    }

    if (TempData["databaseerror"] != null)
    {

        <script>
        swal({
            title: "ERROR!",
            text: "@TempData["databaseerror"]",
            icon: "error",
            button: "Dismiss",
        });

        </script>

    }
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.101.0">


        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/heroes/">

        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="heroes.css" rel="stylesheet">
    </head>
    <body>
        <main>

            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        <img src="~/App_Start/pol.png" class="img-fluid" style="width:30%" />

                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            <div class="p-4 p-md-5 border rounded-3 bg-light">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-floating mb-3">
                                    @Html.LabelFor(model => model.Passcode, new { htmlAttributes = new { @class = "" } })
                                    @Html.EditorFor(model => model.Passcode, new { htmlAttributes = new { @class = "form-control", id = "floatingInput" } })
                                    @Html.ValidationMessageFor(model => model.Passcode, "", new { @class = "text-danger" })


                                </div>
                                <input type="submit" value="VALIDATE" class="btn btn-primary w-100" />


                            </div>
                        }



                    </div>
                </div>
            </div>



        </main>


        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }



    </body>
</html>
}
else
{
<script>
    swal({
        title: "INVALID SESSIONS",
        text: "ACCESS DENIED",
        icon: "error",
        button: "OK",
    });

</script>
}


